//按钮
@mixin button(
  $w,
  $h,
  $fontSize,
  $color: #fff,
  $bgcolor: #4890ea,
  $radius: 5px
) {
  display: inline-block;
  width: $w;
  height: $h;
  text-align: center;
  line-height: 1;
  font-size: $fontSize;
  cursor: pointer;
  color: $color;
  background-color: $bgcolor;
  border: 1px solid $color;
  border-radius: $radius;
}
@mixin btn(
  $size: 14px,
  $color: #fff,
  $bgcolor: #4890ea,
  $padding: 5px,
  $radius: 5px
) {
  padding: $padding;
  background-color: $bgcolor;
  border-radius: $radius;
  border: 1px solid $bgcolor;
  font-size: $size;
  color: $color;
  text-align: center;
  line-height: 1;
  display: inline-block;
  cursor: pointer;
}
// 登录页loading
@mixin loading-img {
  -webkit-animation: loading-img 2.5s infinite;
  animation: loading-img 2.5s infinite;
  -moz-animation: loading-img 2.5s infinite;
  @-webkit-keyframes loading-img {
    0% {
      -webkit-transform: scale(1) rotate(0deg);
      transform: scale(1) rotate(0deg);
    }
    100% {
      -webkit-transform: scale(0.6) rotate(360deg);
      transform: scale(0.6) rotate(360deg);
    }
  }
  @keyframes loading-img {
    0% {
      -webkit-transform: scale(1) rotate(0deg);
      transform: scale(1) rotate(0deg);
    }
    100% {
      -webkit-transform: scale(0.6) rotate(360deg);
      transform: scale(0.6) rotate(360deg);
    }
  }
}
// 自定义el-scrollbar样式
@mixin customize-el-scrollbar($width:4px) {
  .el-scrollbar {
    width: 100%;
    .el-scrollbar__view {
      display: flex;
      flex-wrap: wrap;
    }
    .el-scrollbar__wrap {
      overflow-x: auto;
      padding-left: 8px;
    }
    .el-scrollbar__bar {
      z-index: 0;
    }
    .el-scrollbar__bar.is-vertical {
      width: $width;
      opacity: 1;
      background: #edf0f5;
    }
  }
}
// 自定义el-form样式
@mixin customize-el-form() {
  .el-input__inner {
    height: 20px;
    padding: 0 8px;
    line-height: 20px;
    border-radius: 2px;
  }
  label.el-form-item__label {
    font-size: 16px;
    color: #4b83f0;
    font-weight: 600;
  }
  .form-line {
    text-align: left;
  }
  .form-line.area {
    input.el-input__inner {
      max-width: 100px;
    }
  }
  .el-textarea__inner {
    resize: auto;
    min-width: 300px;
    padding: 5px 8px;
    font-family: Adobe Heiti Std R;
  }
}
// 自定义el-select样式
@mixin customize-el-select() {
  .el-select-dropdown {
    margin-top: -10px !important;
    border: 1px solid #62d862;
    border-radius: 0;
    box-shadow: none;
  }
  .el-select-dropdown__list {
    padding: 0;
  }
  .el-select-dropdown__item {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    span {
      line-height: 20px !important;
    }
  }
  .el-select-dropdown__item.hover,
  .el-select-dropdown__item:hover {
    background-color: #62d862;
    color: #fff;
  }
  .el-popper .popper__arrow::after {
    content: none;
  }
  .el-popper .popper__arrow {
    border-width: 0;
  }
  .el-select-dropdown__item.selected {
    color: #606266;
  }
  .el-select .el-input.is-focus .el-input__inner,
  .el-select .el-input__inner:focus {
    border-color: #62d862;
  }
}
